.about-us-section {
  padding: 60px 0 0;
  margin-bottom: 80px;
}
.about-us {
  position: relative;
  text-align: start;
  .content_ {
    text-align: start;
    height: 100%;
    width: 82%;
    padding-top: 50px;
    margin-bottom: 110px;
  }
}
.about-us-section {
  .gall_hover {
    position: relative;
  }
  .paragraph_main {
    margin-bottom: 40px;
  }
}
.icon_content {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center;
  i {
    font-size: 72px;
    color: $color_1;
    margin-bottom: 15px;
  }
  .title_video {
    text-transform: capitalize;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: $color_1;
  }
}
.gall_hover {
  overflow: hidden;
  // &:hover {
  //   img {
  //     transform: scale(1.5);
  //   }
  // }
  img {
    max-width: 100%;
    transition: 11s;
  }
}
.title_section-about {
  font-size: 20px;
  color: $main_color;
  line-height: 1.2;
  margin-bottom: 40px;
  text-transform: capitalize;
  &::after {
    content: "";
    background-image: linear-gradient(
      45deg,
      rgb(185, 139, 32) 0%,
      rgb(226, 193, 96) 100%
    );
    width: 70px;
    height: 3px;
    display: block;
    margin-top: 10px;
  }
}
.shape_ {
  position: absolute;
  top: 0;
  z-index: -1;
  @include ar {
    left: 0;
  }
  @include en {
    right: 0;
  }
}
.title_about_us {
  text-transform: capitalize;
  color: $main_color;
  margin-bottom: 20px;
}

@include xs {
  .title_section-about {
    &::after {
      width: 70px;
      height: 3px;
      display: block;
      margin-top: 10px;
      margin: 10px auto 0;
    }
  }
  .about-us-section {
    .paragraph_main {
      margin-bottom: 30px;
    }
  }
  .about-us-section {
    margin-bottom: 60px;
  }
  .about-us {
    .content_ {
      align-items: center;
      width: 100%;
      padding: 0;
      padding-top: 20px;
      margin-bottom: 40px;
    }
  }
  .btn_about_us {
    margin: auto;
  }
  .shape_ {
    display: none;
  }
  .icon_content {
    i {
      font-size: 32px;
      color: $color_1;
      margin-bottom: 5px;
    }
    .title_video {
      font-size: 14px;
      line-height: 1.4;
      font-weight: 700;
      color: $color_1;
    }
  }
}
