body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: normal;
  font-style: normal;
}
figure {
  margin: 0;
}
.ul_gh {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  image-rendering: -webkit-optimize-contrast !important;
}
.m_P_gh {
  padding: 0;
  margin: 0;
}
.a {
  display: inline-block;
}
.a:hover {
  text-decoration: none;
}
.btn_gh {
  border: none;
  padding: 0;
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
  outline: none !important;
  transition: 0.5s;
}
.d_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.moboverlay {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  overflow: hidden;
}
.over_ {
  overflow-y: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(0deg, #e2c160 0%, #b98b20 100%);
}

.btn_effect {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 18px;
  color: $main_color;
  font-weight: 700;
  background-size: 200%;
  transition: 0.5s;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(
    to right,
    #b98b20,
    #e2c160,
    #e2c160,
    #b98b20
  );
  &:hover {
    background-image: linear-gradient(
      to right,
      #e2c160,
      #b98b20,
      #e2c160,
      #b98b20
    );
    text-decoration: none;
    background-position: 100%;
    color: $main_color;
  }
}
.title_main {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: $color_1;
  text-transform: capitalize;
}
.paragraph_main {
  font-size: 20px;
  line-height: 1.6;
  text-align: justify;
  color: $color_3;
  margin-bottom: 40px;
}
// ~~~~~~~~~~~~~~~~~~~~~~~back_top
.back_top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  background-image: linear-gradient(
    to right,
    #b98b20,
    #e2c160,
    #e2c160,
    #b98b20
  );
  background-size: 300%;
  visibility: hidden;
  transition: 0.5s;
  z-index: 80;
  @include xs {
    bottom: 20px;
    right: 12px;
  }
  &:hover {
    cursor: pointer;
    color: $color_1;
    background-position: 100%;

    &::after {
      color: $color_1;
    }
  }
  &::after {
    content: "";
    font-family: "line Awesome Free";
    font-weight: 900;
    font-size: 18px;
    color: $color_1;
  }
}
.back_top.show {
  opacity: 1;
  visibility: visible;
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~btn_effect
@include xs {
  .btn_effect {
    height: 40px;
    font-size: 16px;
    width: 140px;
  }
  .title_main {
    font-size: 24px;
  }
  .paragraph_main {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.breadcrumb-section {
  background-color: $main_color;
  padding: 30px 0 50px;
  margin-bottom: 40px;
  .breadcrumb_ {
    text-align: center;
    font-size: 20px;
    color: $color_5;
    line-height: 1.6;

    a,
    span {
      font-size: 20px;
      color: $color_5;
      line-height: 1.6;
    }
    span {
      margin-inline-start: 10px;
    }
    a {
      &:last-of-type {
        margin-inline-start: 10px;
      }
      transition: 0.5s;
      margin-inline-end: 10px;
      &:hover {
        color: $color_2;
        text-decoration: none;
      }
    }
    .title_main {
      margin-bottom: 20px;
      @include en {
        font-size: 22px;
      }
    }
  }
}
@include xs {
  .breadcrumb-section {
    .breadcrumb_ {
      a,
      span {
        margin-inline-start: 5px;
      }
      a {
        &:last-of-type {
          margin-inline-start: 5px;
        }
        margin-inline-end: 5px;
      }
      .title_main {
        margin-bottom: 15px;
      }
    }
  }
}
// preload
.preload {
  position: fixed;
  z-index: 1110;
  inset: 0px;
  background-color: $main_color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader_img {
  position: relative;
  overflow: hidden;
  width: 150px;
}
.filter_ {
  filter: grayscale(1);
  opacity: 0.5;
}
.width_img {
  position: absolute;
  inset: 0px;
  width: 150px;
  height: 0px;
  background-color: transparent;
  overflow: hidden;
}
.preloader_ {
  text-align: center;
}
.filter_ {
  width: 150px;
}
.width_img {
  animation: height_ 4s ease infinite;
  height: 0;
  width: 150px;
  top: unset;
}
.position_img {
  position: absolute;
  inset: 0;
  top: unset;
  width: 150px;
}
@keyframes height_ {
  0% {
    height: 0px;
  }
  100% {
    height: 100%;
  }
}
